<form action="/pages/search/" method="get" class="input-group search-bar" role="search">
  {% comment %}<input type="hidden" name="type" value="product">{% endcomment %}
  <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="Plan Name or Number" class="input-group-field" aria-label="search">
  <span class="input-group-btn">
    <button type="submit" class="btn icon-fallback-text">
      <span class="icon icon-search" aria-hidden="true"></span>
      <span class="fallback-text"><img src="https://cdn.shopify.com/s/files/1/0560/8344/7897/files/Mask_Group_4.png?v=1655467501"></span>
    </button>
  </span>
</form>